# Ignore node_modules
node_modules/

# Ignore build output
dist/

# Ignore environment variable files
.env

# Ignore lock files for package managers
package-lock.json
yarn.lock

# TypeScript temporary files
*.tsbuildinfo